<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="connections.environment.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <machineKey validationKey="3A22C592D9CB62643B315974F80BF8512CFD73F280C380779C2FFC97CCA672A3EC78F20CAFF16822F2BBD6C6AEA687A73C48F062789C5032232E72F8174E45FF" decryptionKey="DD8CB421E296BF2A3BDD75FF926FD63263A6B7953B1B7AF81DFCE45A01B9D782" validation="SHA1" decryption="AES" />

    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>

    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnectionString" passwordStrengthRegularExpression="" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" applicationName="/Kenexa" />
        <add name="SqlProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnectionString" requiresQuestionAndAnswer="false" applicationName="/Kenexa" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnectionString" applicationName="/Kenexa" />
      </providers>
    </roleManager>
    <profile defaultProvider="KenexaSqlProfileProvider">
      <providers>
        <clear/>
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DefaultConnectionString" applicationName="/Kenexa"/>
      </providers>
    </profile>

    <authorization>
      <deny users ="?" />
    </authorization>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>